.filters {
    padding: 16px;
    border: 16px solid var(--color-black-light);
    border-bottom: none;
    color: var(--color-grey);
}

.filters__inner {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.filters__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.filters__group:last-child {
    margin-bottom: 0;
}

.filters__label {
    font-size: 18px;
    line-height: 1.2;
    font-family: var(--font-primary);
}

.filters__slider {
    position: relative;
    padding: 7px 0 32px;
    margin: 12px 0 0;
    display: flex;
    align-items: center;
}

.filters__slider:before {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 17px;
    background: url();
}